.red {
  color: #ff0000;
}
.blue {
  color: #4285f4;
}
.yellow {
  color: #f4b400;
}
.green {
  color: #0f9d58;
}
.google {
  font-weight: 440;
  font-size: 700%;
}
.center {
  position: absolute;
  top: 20%;
  left: 32%;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: gray;
}
.space {
  padding-top: 5%;
  padding-left: 10%;
}
.lightgray {
  background-color: rgb(241, 238, 238);
}
.advanced {
  color: rgb(197, 30, 30);
  padding-left: 2%;
  padding-top: 2%;
  font-size: 120%;
}
.left {
  position: absolute;
  top: 25%;
  left: 3%;
}
.padding {
  padding-bottom: 2%;
}
.small {
  font-size: 80%;
}
