{% extends "auctions/layout.html" %} {% block body %} {% if owner == user %}
{%if listing.active %}
<form action="{% url 'close' listing.id %}" method="post">
  {% csrf_token %}
  <button type="submit" class="close" aria-label="Close">
    <span style="font-size: 1rem">Close listing</span>
    <span aria-hidden="true">&times;</span>
  </button>
</form>
{%endif%} {% endif %}
<h3>Listing: {{listing.title}}</h3>
{% if not listing.active %} {% if listing.winner == user %}
<div>Congratulations! You have won this listing!</div>
{% endif %}
<div>Note: This listing is no longer available.</div>
{% endif %} {% if user.is_authenticated %} {% if not in_watchlist %}
<form action="{% url 'addwatchlist' listing.id %}" method="post">
  {% csrf_token %}
  <input
    type="submit"
    value="Add to watchlist"
    class="btn btn-secondary btn-sm"
  />
</form>
{% else %}
<form action="{% url 'removewatchlist' listing.id %}" method="post">
  {% csrf_token %}
  <input
    type="submit"
    value="Remove from watchlist"
    class="btn btn-secondary btn-sm"
  />
</form>
{% endif %} {% endif %}

<img src="{{listing.image}}" alt="{{listing.title}}" />
<div>{{listing.description}}</div>
<div><b>${{listing.price}}</b></div>

{% if user.is_authenticated and listing.active %}
<div>{{bids}} bid(s) so far.</div>

<form action="{% url 'bids' listing.id %}" method="post">
  {% csrf_token %}
  <input
    class="form-control"
    type="hidden"
    name="listing_id"
    value="{{listing.id}}"
  />
  <input
    class="form-control mb-3 mt-3"
    type="number"
    name="amount"
    placeholder="Bid"
  />
  <input class="btn btn-primary mb-3" type="submit" value="Bid" />
</form>

{% if message %}
<div class="alert alert-danger">{{message}}</div>
{% endif %} {%endif%}

<h3>Details</h3>
<ul>
  <li>Listed by: {{owner}}</li>
  <li>Category: {{listing.category}}</li>
  <li>
    Date Listed:
    {{listing.date.month}}/{{listing.date.day}}/{{listing.date.year}}
  </li>
</ul>

{% if user.is_authenticated and listing.active %}
<form action="{% url 'comment' listing.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="listing_id" value="{{listing.id}}" />
  <textarea
    class="form-control"
    type="text"
    name="comment"
    placeholder="Comment"
    required
  ></textarea>
  <input class="btn btn-primary mt-3" type="submit" value="Comment" />
</form>

{% endif %}

<h4 class="mt-3">Comments</h4>

{% for comment in comments %}

<div class="mt-1">"{{comment}}"</div>
{% endfor %} {% endblock %}
